<ion-header>
  <ion-toolbar>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed="fixed">
    <ion-row *ngIf="fotos">
      <ion-col
        *ngFor="let foto of fotos.reverse()"
        size="4"
      >
        <div class="welcome-card">
          <img
            [src]="foto"
            (click)="verFoto(foto)"
            alt="Foto Galeria"
          >
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="fotos.length === 0">
      <ion-col size="12">
        <ion-text class="center">
          <h4>No hay fotos para mostrar.</h4>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>