<ion-header>
  <ion-toolbar>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed="fixed">
    <ion-row>
      <ion-col size="12">
        <ion-card class="welcome-card">
          <img
            src="/assets/shapes.svg"
            alt="Fotos"
          >
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="welcome-card">
          <img
            src="/assets/shapes.svg"
            alt="Fotos"
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>