<ion-header>
  <ion-toolbar>
    <ion-title>Galería de videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed="fixed">
    <ion-row *ngIf="videos.length === 0">
      <ion-col size="12">
        <ion-text class="center">
          <h4>No hay videos para mostrar.</h4>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="videos">
    <ion-list *ngFor="let video of videos">
      <ion-item (click)="verVideo(video)">
        <ion-icon
          name="play"
          slot="start"
        ></ion-icon>

        <ion-text color="primary">
          <h5>{{video[0].name}}</h5>

          <span class="size">
            {{(video[0].size / (1024*1024)).toFixed(3)}} MB
          </span>
        </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>